trigger:
  - main
  - "*.*.x"

variables:
  RUN_COVERAGE: no
  PYTEST_ADDOPTS: --color=yes --junitxml=test-data/test-results.xml
  DEPENDENCIES_VERSION: "latest" # |"pre-release" | "minimum-version"
  TEST_TYPE: "standard" # | "coverage"

jobs:
  - job: PyTest
    pool:
      vmImage: "ubuntu-22.04"
    strategy:
      matrix:
        Python3.12:
          python.version: "3.12"
          RUN_COVERAGE: yes
          TEST_TYPE: "coverage"
        Python3.9:
          python.version: "3.9"
        PreRelease:
          python.version: "3.12"
          DEPENDENCIES_VERSION: "pre-release"
          TEST_TYPE: "strict-warning"
        minimum_versions:
          python.version: "3.9"
          DEPENDENCIES_VERSION: "minimum"
          TEST_TYPE: "coverage"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "$(python.version)"
        displayName: "Use Python $(python.version)"

      - script: |
          set -e
          python -m pip install --upgrade uv
          echo "##vso[task.setvariable variable=uv_cache_dir]`uv cache dir`"
        displayName: "Install tools"

      - task: Cache@2
        inputs:
          key: '"python $(python.version)" | "$(Agent.OS)" | pyproject.toml'
          restoreKeys: |
            python | "$(Agent.OS)"
            python
          path: $(uv_cache_dir)
        displayName: Cache pip packages

      # This prevents broken and slow back-tracking in dependency resolution
      - script: printf "llvmlite>=0.43\nscanpy>=1.10.0rc1" | tee /tmp/constraints.txt
        displayName: "Create constraints file for `pre-release` and `latest` jobs"

      - script: uv pip install --system --compile "anndata[dev,test] @ ." -c /tmp/constraints.txt
        displayName: "Install dependencies"
        condition: eq(variables['DEPENDENCIES_VERSION'], 'latest')

      - script: |
          set -e
          uv pip install --system --compile tomli packaging
          deps=`python3 ci/scripts/min-deps.py pyproject.toml --extra dev test`
          uv pip install --system --compile $deps pytest-cov "anndata @ ."
        displayName: "Install minimum dependencies"
        condition: eq(variables['DEPENDENCIES_VERSION'], 'minimum')

      - script: uv pip install -v --system --compile --pre "anndata[dev,test] @ ." -c /tmp/constraints.txt
        displayName: "Install dependencies release candidates"
        condition: eq(variables['DEPENDENCIES_VERSION'], 'pre-release')

      - script: uv pip list
        displayName: "Display installed versions"

      - script: pytest
        displayName: "PyTest"
        condition: eq(variables['TEST_TYPE'], 'standard')

      - script: pytest --cov --cov-report=xml --cov-context=test
        displayName: "PyTest (coverage)"
        condition: eq(variables['TEST_TYPE'], 'coverage')

      - script: pytest --strict-warnings
        displayName: "PyTest (treat warnings as errors)"
        condition: eq(variables['TEST_TYPE'], 'strict-warning')

      - task: PublishCodeCoverageResults@2
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: "test-data/coverage.xml"
        condition: eq(variables['TEST_TYPE'], 'coverage')

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: "test-data/test-results.xml"
          testResultsFormat: JUnit
          testRunTitle: "Publish test results for Python $(python.version)"

      - script: bash <(curl -s https://codecov.io/bash)
        displayName: "Upload to codecov.io"
        condition: eq(variables['TEST_TYPE'], 'coverage')

  - job: CheckBuild
    pool:
      vmImage: "ubuntu-22.04"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.12"
        displayName: "Use Python 3.12"

      - script: |
          set -e
          python -m pip install --upgrade pip
          pip install build twine
        displayName: "Install build tools and requirements"

      - script: pip list
        displayName: "Display installed versions"

      - script: |
          set -e
          python -m build --sdist --wheel .
          twine check dist/*
        displayName: "Build & Twine check"

      - script: |
          set -e
          pip install dist/*.whl
          python -c 'import anndata; print(anndata.__version__)'
        displayName: "Check runtime version"
