trigger:
- master

jobs:
- job: PyTest
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
      Python36:
        python.version: '3.6'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
      pip install pytest-azurepipelines wheel
      pip install .[dev,test]
    displayName: 'Install dependencies'

  - script: |
      pytest --cov=. --cov-report=xml
    displayName: 'PyTest'

- job: 'Static analysis'
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'

  - script: |
      pip install black
      black . --check --diff
    displayName: 'black'

  - script: |
      rst2html.py --halt=2 README.rst >/dev/null
    displayName: 'rst2html'
