# Temp files
.DS_Store
*~

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/
/tmp.zarr/
test.h5ad

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/

