# Temp files
.DS_Store
*~

# Caches for compiled and downloaded files
__pycache__/
/*cache/
/node_modules/
/data/

# Distribution / packaging
/dist/
/src/anndata/_version.py
/requirements*.lock
/.python-version

# Test results (nunit/junit) and coverage
/test-data/
/*coverage*

# jupyter
.ipynb_checkpoints

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

# Benchmark
.asv
benchmark/benchmarks/data
benchmarks/benchmarks/data
