# Temp files
.DS_Store
*~

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/anndata/_version.py
/*.egg-info/
/requirements*.lock

# Tests and coverage
/.pytest_cache/
/.cache/
/data/
/tmp.zarr/
test.h5ad
test.loom
test.zarr
.coverage

# jupyter
.ipynb_checkpoints

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

# Benchmark
.asv
benchmark/benchmarks/data
