[envs.default]
installer = "uv"
dependency-groups = [ "dev" ]

[envs.docs]
python = "3.14"
dependency-groups = [ "doc" ]
scripts.build = "sphinx-build -M html docs docs/_build -W {args}"
scripts.open = "python3 -m webbrowser -t docs/_build/html/index.html"
scripts.clean = "git clean -fdX -- {args:docs}"

[envs.towncrier]
scripts.create = "towncrier create {args}"
scripts.build = "python3 ci/scripts/towncrier_automation.py {args}"
scripts.clean = "git restore --source=HEAD --staged --worktree -- docs/release-notes"

[envs.hatch-test]
python = "3.14"
default-args = [  ]
dependency-groups = [ "dev", "test-min" ]
extra-dependencies = [ "ipykernel" ]
env-vars.UV_CONSTRAINT = "ci/constraints.txt"
overrides.matrix.deps.env-vars = [
    { if = [ "pre" ], key = "UV_PRERELEASE", value = "allow" },
    { if = [ "pre" ], key = "UV_CONSTRAINT", value = "ci/pre-deps.txt" },
    { if = [ "min" ], key = "UV_CONSTRAINT", value = "ci/constraints.txt ci/min-constraints.txt ci/min-deps.txt" },
]
overrides.matrix.deps.pre-install-commands = [
    { if = [
        "min",
    ], value = "uv run ci/scripts/min-deps.py pyproject.toml --all-extras -o ci/min-deps.txt" },
    # To prevent situations like https://github.com/pydata/xarray/issues/10419 going forward, and test against zarr as well
    # IMPORTANT: `zarr` being a pre-release is used in the testing code
    { if = [
        "pre",
    ], value = "echo 'xarray @ git+https://github.com/pydata/xarray.git\nzarr @ git+https://github.com/zarr-developers/zarr-python.git' > ci/pre-deps.txt" },

]
overrides.matrix.deps.python = [
    { if = [ "min" ], value = "3.12" },
]
overrides.matrix.deps.dependency-groups = [
    { if = [ "stable", "pre" ], value = "test" },
    { if = [ "array_api" ], value = "test-array-api" },
]
overrides.matrix.deps.extra-args = { if = [ "stable", "pre" ], value = [ "--strict-warnings" ] }

[[envs.hatch-test.matrix]]
deps = [ "stable", "pre", "min", "array_api" ]
