[build-system]
build-backend = "hatchling.build"
requires = ["hatchling", "hatch-vcs"]

[project]
name = "anndata"
description = "Annotated data."
requires-python = ">=3.8"
license = "BSD-3-Clause"
authors = [
    {name = "Philipp Angerer"},
    {name = "Alex Wolf"},
    {name = "Isaac Virshup"},
    {name = "Sergei Rybakov"},
]
maintainers = [
    {name = "Isaac Virshup", email = "ivirshup@gmail.com"},
    {name = "Philipp Angerer", email = "philipp.angerer@helmholtz-munich.de"},
    {name = "Alex Wolf", email = "f.alex.wolf@gmx.de"},
]
readme = "README.md"
classifiers = [
    "Environment :: Console",
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Visualization",
]
dependencies = [
    # pandas <1.1.1 has pandas/issues/35446
    # pandas 2.1.0rc0 has pandas/issues/54622
    "pandas >=1.1.1, !=2.1.0rc0",
    "numpy>=1.16.5",  # required by pandas 1.x
    "scipy>1.4",
    "h5py>=3",
    "exceptiongroup; python_version<'3.11'",
    "natsort",
    "packaging>=20",
    "array_api_compat",
]
dynamic = ["version"]

[project.urls]
Documentation = "https://anndata.readthedocs.io/"
Source = "https://github.com/scverse/anndata"
Home-page = "https://github.com/scverse/anndata"


[project.optional-dependencies]
dev = [
    # dev version generation
    "setuptools_scm",
    # test speedups
    "pytest-xdist",
]
doc = [
    "sphinx>=4.4",
    "sphinx-book-theme>=1.0.1",
    "sphinx-autodoc-typehints>=1.11.0",
    "sphinx-issues",
    "sphinx-copybutton",
    "sphinxext.opengraph",
    "nbsphinx",
    "scanpydoc>=0.9",
    "zarr",
    "awkward>=2.0.7",
    "IPython", # For syntax highlighting in notebooks
    "myst_parser",
]
test = [
    "loompy>=3.0.5",
    "pytest>=6.0",
    "pytest-cov>=2.10",
    "zarr",
    "matplotlib",
    "scikit-learn",
    "openpyxl",
    "joblib",
    "boltons",
    "scanpy",
    "dask[array,distributed]",
    "awkward>=2.3",
    "pytest_memray",
    "xarray>=2023.1.0",
]
gpu = [
    "cupy",
]

[tool.hatch.build]
exclude = [
    "anndata/tests/test_*.py",
    "anndata/tests/data",
]
[tool.hatch.version]
source = "vcs"
[tool.hatch.build.hooks.vcs]
version-file = "anndata/_version.py"

[tool.coverage.run]
source = ["anndata"]
omit = [
	"setup.py",
	"versioneer.py",
	"anndata/_version.py",
	"**/test_*.py",
]

[tool.pytest.ini_options]
addopts = "--doctest-modules"
python_files = "test_*.py"
testpaths = ["anndata", "docs/concatenation.rst"]
filterwarnings = [
    'ignore:X\.dtype being converted to np.float32:FutureWarning'
]
# For some reason this effects how logging is shown when tests are run
xfail_strict = true
markers = ["gpu: mark test to run on GPU"]

[tool.ruff]
ignore = [
    # line too long -> we accept long comment lines; black gets rid of long code lines
    "E501",
    # Do not assign a lambda expression, use a def -> Scanpy allows lambda expression assignments,
    "E731",
    # allow I, O, l as variable names -> I is the identity matrix, i, j, k, l is reasonable indexing notation
    "E741",
]
select = [
    "E",
    "F",
    "W",
]
[tool.ruff.per-file-ignores]
# E721 comparing types, but we specifically are checking that we aren't getting subtypes (views)
"anndata/tests/test_readwrite.py" = ["E721"]
