[build-system]
build-backend = "hatchling.build"
requires = ["hatchling", "hatch-vcs"]

[project]
name = "anndata"
description = "Annotated data."
requires-python = ">=3.10"
license = "BSD-3-Clause"
authors = [
    { name = "Philipp Angerer" },
    { name = "Alex Wolf" },
    { name = "Isaac Virshup" },
    { name = "Sergei Rybakov" },
]
maintainers = [
    { name = "Isaac Virshup", email = "ivirshup@gmail.com" },
    { name = "Philipp Angerer", email = "philipp.angerer@helmholtz-munich.de" },
    { name = "Alex Wolf", email = "f.alex.wolf@gmx.de" },
]
readme = "README.md"
classifiers = [
    "Environment :: Console",
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Visualization",
]
dependencies = [
    # pandas <1.4 has pandas/issues/35446
    # pandas 2.1.0rc0 has pandas/issues/54622
    "pandas >=1.4, !=2.1.0rc0, !=2.1.2",
    "numpy>=1.23",
    # https://github.com/scverse/anndata/issues/1434
    "scipy >1.8",
    "h5py>=3.6",
    "exceptiongroup; python_version<'3.11'",
    "natsort",
    "packaging>=20.0",
    # array-api-compat 1.5 has https://github.com/scverse/anndata/issues/1410
    "array_api_compat>1.4,!=1.5",
]
dynamic = ["version"]

[project.urls]
Documentation = "https://anndata.readthedocs.io/"
Source = "https://github.com/scverse/anndata"
Home-page = "https://github.com/scverse/anndata"


[project.optional-dependencies]
dev = [
    # dev version generation
    "setuptools-scm",
    "anndata[dev-doc,dev-test]",
]
doc = [
    "sphinx>=7.4.6",
    "sphinx-book-theme>=1.1.0",
    "sphinx-autodoc-typehints>=2.2.0",
    "sphinx-issues",
    "sphinx-copybutton",
    "sphinx-toolbox>=3.8.0",
    "sphinxext.opengraph",
    "nbsphinx",
    "scanpydoc[theme,typehints] >=0.14.1",
    "zarr",
    "awkward>=2.0.7",
    "IPython",                          # For syntax highlighting in notebooks
    "myst_parser",
    "sphinx_design>=0.5.0",
    "readthedocs-sphinx-search",
    # for unreleased changes
    "anndata[dev-doc]",
]
dev-doc = ["towncrier>=24.8.0"] # release notes tool
test = [
    "loompy>=3.0.5",
    "pytest>=8.2",
    "pytest-cov>=2.10",
    "zarr<3.0.0a0",
    "matplotlib",
    "scikit-learn",
    "openpyxl",
    "joblib",
    "boltons",
    "scanpy",
    "httpx", # For data downloading
    "dask[distributed]",
    "awkward>=2.3",
    "pyarrow",
    "pytest_memray",
    "pytest-mock",
    "anndata[dask]",
]
dev-test = ["pytest-xdist"] # local test speedups
gpu = ["cupy"]
cu12 = ["cupy-cuda12x"]
cu11 = ["cupy-cuda11x"]
# https://github.com/dask/dask/issues/11290
dask = ["dask[array]>=2022.09.2,<2024.8.0"]

[tool.hatch.version]
source = "vcs"
[tool.hatch.build.hooks.vcs]
version-file = "src/anndata/_version.py"
raw-options.version_scheme = "release-branch-semver"
[tool.hatch.build.targets.wheel]
packages = ["src/anndata", "src/testing"]

[tool.coverage.run]
data_file = "test-data/coverage"
source_pkgs = ["anndata"]
omit = ["src/anndata/_version.py", "**/test_*.py"]
[tool.coverage.xml]
output = "test-data/coverage.xml"
[tool.coverage.paths]
source = ["./src", "**/site-packages"]

[tool.coverage.report]
exclude_also = [
    "if TYPE_CHECKING:",
]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
    "--strict-markers",
    "--doctest-modules",
    "--pyargs",
    "-ptesting.anndata._pytest",
]
filterwarnings = [
    # all `ignore::anndata.*` entries are in `conftest.py`
    # See: https://github.com/pytest-dev/pytest-cov/issues/437
]
# When `--strict-warnings` is used, all warnings are treated as errors, except those:
filterwarnings_when_strict = [
    "default::anndata._warnings.ImplicitModificationWarning",
    "default:Transforming to str index:UserWarning",
    "default:(Observation|Variable) names are not unique. To make them unique:UserWarning",
    "default::scipy.sparse.SparseEfficiencyWarning",
    "default::dask.array.core.PerformanceWarning",
]
python_files = "test_*.py"
testpaths = [
    "anndata", # docstrings (module name due to --pyargs)
    "./tests", # unit tests
    "./ci/scripts", # CI script tests
    "./docs/concatenation.rst", # further doctests
]
# For some reason this effects how logging is shown when tests are run
xfail_strict = true
markers = ["gpu: mark test to run on GPU"]

[tool.ruff]
src = ["src"]

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
select = [
    "E",   # Error detected by Pycodestyle
    "F",   # Errors detected by Pyflakes
    "W",   # Warning detected by Pycodestyle
    "PLW", # Pylint
    "UP",  # pyupgrade
    "I",   # isort
    "TCH", # manage type checking blocks
    "TID", # Banned imports
    "ICN", # Follow import conventions
    "PTH", # Pathlib instead of os.path
    "PT",  # Pytest conventions
    "PYI"  # Typing
]
ignore = [
    # line too long -> we accept long comment lines; formatter gets rid of long code lines
    "E501",
    # Do not assign a lambda expression, use a def -> AnnData allows lambda expression assignments,
    "E731",
    # allow I, O, l as variable names -> I is the identity matrix, i, j, k, l is reasonable indexing notation
    "E741",
    # We use relative imports from parent modules
    "TID252",
    # Shadowing loop variables isn’t a big deal
    "PLW2901",
]
[tool.ruff.lint.per-file-ignores]
# E721 comparing types, but we specifically are checking that we aren't getting subtypes (views)
"tests/test_readwrite.py" = ["E721"]
[tool.ruff.lint.isort]
known-first-party = ["anndata"]
required-imports = ["from __future__ import annotations"]
[tool.ruff.lint.flake8-tidy-imports.banned-api]
"subprocess.call".msg = "Use `subprocess.run([…])` instead"
"subprocess.check_call".msg = "Use `subprocess.run([…], check=True)` instead"
"subprocess.check_output".msg = "Use `subprocess.run([…], check=True, capture_output=True)` instead"
[tool.ruff.lint.flake8-type-checking]
exempt-modules = []
strict = true

[tool.codespell]
skip = ".git,*.pdf,*.svg"
ignore-words-list = "theis,coo,homogenous"

[tool.towncrier]
package = "anndata"
directory = "docs/release-notes"
filename = "docs/release-notes/{version}.md"
single_file = false
package_dir = "src"
issue_format = "{{pr}}`{issue}`"
title_format = "(v{version})=\n### {version} {{small}}`{project_date}`"
fragment.bugfix.name = "Bug fixes"
fragment.doc.name = "Documentation"
fragment.feature.name = "Features"
fragment.misc.name = "Miscellaneous improvements"
fragment.performance.name = "Performance"
fragment.breaking.name = "Breaking changes"
fragment.dev.name = "Development Process"
