.noteversion {
    font-size:70%;
}

.noteversion:after {
    content: "/";
}

.small {
    font-size:40%;
}

.smaller {
    font-size:70%;
}

.rst-content tt:not(.xref),
.rst-content code:not(.xref),
.rst-content *:not(a) > tt.xref,
.rst-content *:not(a) > code.xref {
    /* slim font weight for non-link literals */
    font-weight: normal;
}


.rst-content .annotation {
    padding: 2px 5px;
    background-color: white;
    border: 1px solid #e1e4e5;
}
.rst-content .annotation tt,
.rst-content .annotation code {
    padding: 0 0;
    background-color: transparent;
    border: 0 solid transparent;
}
.rst-content .annotation a tt.xref,
.rst-content .annotation a code.xref {
    text-decoration: underline;
}


.rst-content dl:not(.docutils) dl > dt {
    /* mimick numpydoc’s blockquote style */
    /* TODO: once scanpydoc adds classes, also change return types */
    font-weight: normal;
    background: none transparent;
    border-left: none;
    margin: 0 0 12px;
    padding: 3px 0 0;
    font-size: 111.11%;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #404040;
}
