name: Benchmark

on:
  push:
    branches: [main, "[0-9]+.[0-9]+.x"]
  pull_request:
    branches: [main]

jobs:
  benchmark:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0} # -e to fail on error, -l for mamba

    strategy:
      fail-fast: false
      matrix:
        python: ["3.12"]
        os: [ubuntu-latest]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}
      ASV_DIR: "./benchmarks"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: git fetch origin main:main
        if: ${{ github.ref_name != 'main' }}
        # Errors on main branch

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: asv
          cache-environment: true
          create-args: >-
            python=${{ matrix.python }}
            asv
            libmambapy
            conda-build

      - name: Cache datasets
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
          key: benchmark-state-${{ hashFiles('benchmarks/**') }}

      - name: Quick benchmark run
        working-directory: ${{ env.ASV_DIR }}
        run: |
          asv machine --yes
          asv run --quick --show-stderr --verbose
