name: Test Issue 2271

on:
  pull_request:
    branches:
      - main

jobs:
  test-regression:
    # Only run for test-issue-* branches
    if: ${{ startsWith(github.head_ref, 'test-issue-') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Install system dependencies
        run: sudo apt install -y hdf5-tools

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: '3.12'

      - name: Install dependencies
        run: |
          uv tool install hatch
          hatch -v env create hatch-test.py3.12

      - name: Run regression test
        run: |
          hatch run hatch-test.py3.12:run -v tests/lazy/test_read.py::test_nullable_string_index_decoding
