name: AWS GPU

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

# Cancel the job if new commits are pushed
# https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: "cirun-aws-gpu--${{ github.run_id }}"
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Nvidia SMI sanity check
        run: nvidia-smi

      - uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: "1.3.1-0"
          environment-name: anndata-gpu-ci
          create-args: >-
            python=3.10
            cupy
            numba
            pytest
            pytest-cov
            pytest-xdist
          init-shell: >-
            bash
          generate-run-shell: false

      - name: Install AnnData
        run: pip install .[dev,test,gpu]

      - name: Mamba list
        run: micromamba list

      - name: Run test
        run: pytest --only-gpu --cov --cov-report=xml --cov-context=test -n 4

      - uses: codecov/codecov-action@v3
        with:
          flags: gpu-tests
